body.one.bg-img-1 {
    background: linear-gradient(
       rgba(140, 140, 255, 0.57),
       rgba(140, 140, 255, 0.57)
    ), url("../images/code-1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 0 0;
    transition: background-position 15s, background-size 15s;
}

body.two.bg-img-1 {
    background: linear-gradient(
       rgba(140, 140, 255, 0.57),
       rgba(140, 140, 255, 0.57)
    ), url("../images/code-1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% 150%;
    background-position: -300px -150px;
    transition: background-position 15s, background-size 15s;
}

body.three.bg-img-1 {
    background: linear-gradient(
       rgba(140, 140, 255, 0.57),
       rgba(140, 140, 255, 0.57)
    ), url("../images/code-1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% 150%;
    background-position: -300px 0px;
    transition: background-position 15s, background-size 15s;
}

body.one.bg-img-2 {
    background: linear-gradient(
       rgba(140, 140, 255, 0.57),
       rgba(140, 140, 255, 0.57)
    ), url("../images/code-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 0 0;
    transition: background-position 15s, background-size 15s;
}

body.two.bg-img-2 {
    background: linear-gradient(
       rgba(140, 140, 255, 0.57),
       rgba(140, 140, 255, 0.57)
    ), url("../images/code-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% 150%;
    background-position: -300px -150px;
    transition: background-position 15s, background-size 15s;
}

body.three.bg-img-2 {
    background: linear-gradient(
       rgba(140, 140, 255, 0.57),
       rgba(140, 140, 255, 0.57)
    ), url("../images/code-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% 150%;
    background-position: -300px 0px;
    transition: background-position 15s, background-size 15s;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
